.container-icon{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding:0 10px;
}
.color-tertiary{color: #0B457F;}
.color-quartenary{color: #3772FF}
.fs-30{font-size: 30px;}
.pdr-10{padding-right: 10px;}
.govco-icon{
    color:#3772FF;
}