<footer>
    <div class="footer page__footer footer-white footer-blue">
       <div class="container">
          <div class="footer-container" id="footer-container">
             <div class="footer-title d-flex bd-highlight">
                <h2 class="title-footer">Contáctanos</h2>
             </div>
             <div class="nav-footer icon-white nav-pills nav-pills-icons d-flex justify-content-center bd-highlight">
                <div class="item-footer">
                    <a class="nav-link icon-white" target="_blank" href="mailto:soporteccc@mintic.gov.co">
                       <div class="govco-icon govco-icon-email-cn">
                       </div>
                       <p class="title-contact-link"> Correo electrónico </p>
                    </a>
                 </div>
                 <div class="item-footer">
                    <a class="nav-link icon-white">
                       <div class="govco-icon govco-icon-callback-cn">
                       </div>
                       <p class="title-contact-link"> Regresamos tu llamada </p>
                    </a>
                 </div>              
                <div class="item-footer">
                   <div class="nav-link icon-white">
                      <div class="govco-icon govco-icon-call-center-cn">
                      </div>
                      <p class="title-contact-link"> Contacto telefónico </p>
                   </div>
                </div>
                <div class="item-footer">
                    <a class="nav-link icon-white">
                       <div class="govco-icon govco-icon-callin-cn">
                       </div>
                       <p class="title-contact-link">Llamada WEB </p>
                    </a>
                 </div>
                <div class="item-footer">
                   <a class="nav-link icon-white" href="https://www.gov.co/redes-sociales-de-las-entidades/">
                      <div class="govco-icon govco-icon-wifi-cn">
                      </div>
                      <p class="title-contact-link"> Redes sociales </p>
                   </a>
                </div>
                
             </div>
             <div class="submenu-footer d-flex justify-content-center bd-highlight">
                <ul class="pl-sm-0">
                   <li><a href="https://www.gov.co/sobre-nosotros/">Conoce a GOV.CO</a></li>
                   <li><a href="https://www.gov.co/terminos-y-condiciones/">Términos de uso</a></li>
                   <li><a href="https://www.gov.co/mapa-del-sitio/">Mapa del sitio</a></li>
                </ul>
             </div>
          </div>
       </div>
    </div>
 </footer>